.index-div{
    margin-top: 50px;
}
.index-texto{
    color: #070707;
    
}
.index-banner-texto1{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.index-banner-texto2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 20px;
}

.card-publicacion {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-detalle{
    width: 80%;
    height: 500px;
    object-fit: fill;
    margin-left: 10%;
}
.reserva-btn{
    position: absolute;
    top: 430px;
    left: 35px;
}